<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Product Page</title>
    <div th:replace="fragments/header :: header-css"/>

    <div th:replace="fragments/header :: header-custom-style"/>

    <div th:replace="fragments/leftbar :: leftbar-custom-style"/>

    <div th:replace="fragments/footer :: footer-custom-style"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="/js/products-client.js" type="text/javascript"></script>
</head>
<body>

<div th:replace="fragments/header :: header">

</div>

<div class="container-fluid text-center">
    <div class="row content">
        <div th:replace="fragments/leftbar :: leftbar"></div>

        <div class="col-sm-8 text-left">
            <h1>Data Product</h1>
            <a th:href="@{/products/page/type?form=addProduct}">
                <button class="btn btn-primary" type="button">Tambah Data</button>
            </a>
            <p>
            <table class='table table-bordered table-hover'>
                <thead>
                <tr>
                    <td>
                        Nomor
                    </td>
                    <td>
                        ID Product
                    </td>
                    <td>
                        Product Name
                    </td>
                    <td>
                        Price
                    </td>
                    <td>
                        Expire Date
                    </td>
                    <td>
                        Action
                    </td>
                </tr>
                </thead>
                <tbody id="product-list"/>
            </table>
            </p>
        </div>

        <div th:replace="fragments/rightbar :: rightbar"></div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>